.page-header
  %h1 Pharmacy Details
%dl.dl-horizontal
  %dt
    %strong Name
  %dd= @pharmacy.name
  %dt
    %strong Structure
  %dd= @pharmacy.structure
  %dt
    %strong County
  %dd= @pharmacy.county
  %dt
    %strong City
  %dd= @pharmacy.city
  %dt
    %strong Address
  %dd= @pharmacy.address
  %dt
    %strong Chief Pharmacist Name
  %dd= @pharmacy.chief_pharmacist_name
  %dt
    %strong Details
  %dd= @pharmacy.details

=link_to 'Back', pharmacies_path, :class => "btn btn-default"
=link_to 'Edit', edit_pharmacy_path(@pharmacy), :class => "btn btn-default"
=link_to 'Destroy', @pharmacy, method: :delete, data: { :confirm => 'Are you sure?'}, :class => "btn btn-danger"